* {
  transition: .3s; }

a {
  color: #333; }
  a:hover {
    color: #FFA300;
    text-decoration: none; }

h2 {
  font-size: 25px; }

h1 {
  font-size: 30px; }

.container {
  position: relative; }

.top-social-icon {
  position: absolute;
  right: 10px;
  bottom: 5px; }

.wrapper {
  padding: 0; }
  .wrapper#wrapper-footer-full, .wrapper#wrapper-footer-end {
    padding: 30px; }

.form-email-subscribe-footer {
  background: #a0aab1;
  padding: 20px 10px;
  margin: 0; }
  .form-email-subscribe-footer .btn {
    width: 100%; }
  .form-email-subscribe-footer input[type="text"] {
    border-color: #17a2b8;
    border-width: 2px; }

.bg-dark .dropdown-menu {
  background: #343a40; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 30px; }

.navbar-nav {
  font-size: 18px; }

.right-sidebar .widget-title {
  border: none !important;
  color: initial !important;
  background: none !important;
  padding: 10px !important; }

.dropdown-menu {
  width: max-content;
  padding: 20px;
  border-radius: 0;
  box-shadow: 0px 8px 6px 0px #7D8383;
  border: none;
  background: #e9ecef;
  right: 0;
  left: auto; }

.bg-light {
  background: #fff !important; }

.right-sidebar .widget-title {
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 15px;
  text-transform: uppercase;
  border-left: 6px solid #FFA300;
  color: #FFA300;
  background: #FDF7F7; }
  .right-sidebar .widget-title a {
    color: #FFA300; }

.single-wrapper__related-post-caption {
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 15px;
  text-transform: uppercase;
  border-left: 6px solid #FFA300;
  color: #FFA300;
  background: #FDF7F7; }
  .single-wrapper__related-post-caption a {
    color: #FFA300; }

.footer-end {
  background: #425563;
  color: #999; }
  .footer-end a {
    color: #fff; }

.card {
  border: none; }

.btn, .form-control {
  border-radius: 0; }

.flex {
  display: flex; }

.top-bar {
  margin-top: 5px; }
  .top-bar .text-link-top {
    margin: 8px 10px 0; }
  .top-bar * {
    font-size: 13px; }

#carouselExampleControls .caption_container {
  position: absolute;
  top: 25%;
  left: 20%;
  width: 40%;
  color: #fff;
  padding: 20px; }
  #carouselExampleControls .caption_container .caption {
    font-size: 30px;
    font-weight: normal; }
  #carouselExampleControls .caption_container .caption_desc {
    margin: 10px 0 0 0;
    font-size: 20px; }
  #carouselExampleControls .caption_container .btn {
    margin-top: 20px; }

#carouselExampleControls img {
  width: 100%; }

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 15px; }

@media (max-width: 992px) {
  #carouselExampleControls .caption_container {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 50%; }
    #carouselExampleControls .caption_container .caption {
      font-size: 14px;
      font-weight: normal; }
    #carouselExampleControls .caption_container .caption_desc {
      margin: 10px 0 0 0;
      font-size: 13px; }
    #carouselExampleControls .caption_container .btn {
      margin-top: 10px;
      font-size: 14px; }
  iframe {
    width: 100%; } }

@media (max-width: 480px) {
  #carouselExampleControls .caption_container {
    position: absolute;
    top: 2%;
    left: 14%;
    width: 75%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px; }
    #carouselExampleControls .caption_container .caption {
      font-size: 14px;
      font-weight: normal; }
    #carouselExampleControls .caption_container .caption_desc {
      margin: 10px 0 0 0;
      font-size: 13px; }
    #carouselExampleControls .caption_container .btn {
      margin-top: 10px; }
  iframe {
    width: 100%; } }

#carouselHeroControls {
  text-align: center;
  margin: 15px auto; }
  #carouselHeroControls .owl-item {
    padding-bottom: 15px; }
  #carouselHeroControls .card {
    border: 2px solid #e9ecef;
    border-radius: 0; }
    #carouselHeroControls .card:hover {
      box-shadow: 0px 8px 6px 0px #7D8383; }
  #carouselHeroControls i.fa {
    position: absolute;
    left: 0;
    right: 0;
    color: #fff;
    font-size: 60px; }
  #carouselHeroControls .card-img-top {
    position: relative;
    overflow: initial;
    border-bottom: 2px solid #FFA300; }
    #carouselHeroControls .card-img-top i.fa {
      bottom: -25px;
      top: auto;
      color: #FFA300; }
  #carouselHeroControls .card-title {
    padding: 5px 0;
    font-size: 18px; }
  #carouselHeroControls .card-text {
    height: 110px;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 10px; }
  #carouselHeroControls .card-bottom {
    margin: 0;
    font-size: 18px;
    position: relative;
    background: #00AEC7;
    padding: 20px 0 16px 0px; }
    #carouselHeroControls .card-bottom a {
      color: #fff; }
    #carouselHeroControls .card-bottom i.fa {
      top: -37px;
      color: #fff; }

aside.widget ul {
  margin: 0 0 0 30px;
  padding: 0; }

#menu-sidebar-menu-service {
  margin: 10px;
  list-style: none; }
  #menu-sidebar-menu-service > li > a {
    margin-bottom: 10px;
    display: block;
    font-weight: bold; }
  #menu-sidebar-menu-service > li ul {
    list-style: none; }
    #menu-sidebar-menu-service > li ul li > a {
      padding: 10px 0;
      display: block; }
  #menu-sidebar-menu-service li.current-menu-item > a {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 10px;
    margin-left: -10px; }

aside.widget {
  margin-bottom: 20px;
  background: #e9ecef;
  padding: 20px; }

.breadcrumb {
  border-radius: 0;
  padding: 5px 10px;
  background: #e9ecef;
  margin-bottom: 20px; }
  .breadcrumb .breadcrumb-item.active {
    max-width: 600px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: inline-block; }

.site-main {
  margin-bottom: 20px; }
  .site-main .page-header {
    padding: 20px 0; }
  .site-main .entry-title {
    font-size: 20px; }
  .site-main article.post {
    padding: 15px 0;
    border-bottom: 1px solid #999; }
    .site-main article.post:last-child {
      border: none; }
  .site-main__each-block-cat {
    margin-bottom: 20px; }
    .site-main__each-block-cat article.post {
      padding: 0;
      border: none; }
    .site-main__each-block-cat__header {
      font-weight: bold;
      font-size: 18px;
      padding: 10px;
      margin-bottom: 15px;
      text-transform: uppercase;
      border-left: 6px solid #FFA300;
      color: #FFA300;
      background: #FDF7F7; }
      .site-main__each-block-cat__header a {
        color: #FFA300; }

.content-area .entry-title {
  font-size: 25px;
  margin-bottom: 20px; }

.content-small-image {
  padding: 0 0 10px 0; }
  .content-small-image .entry-title {
    font-size: 14px; }

.card-img-top {
  overflow: hidden;
  position: relative;
  background: #e9ecef; }
  .card-img-top img {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%; }

.footer-about-decs {
  background: #e9ecef;
  padding: 10px 20px 20px 20px;
  margin-top: 20px; }
  .footer-about-decs .card {
    background: none; }
  .footer-about-decs .card-text a {
    color: #FFA300; }

.language_select_box {
  margin: 10px 0; }

.footer-home-logo {
  text-align: center;
  border-top: 2px solid #333;
  padding-top: 15px;
  margin-bottom: 10px; }
  .footer-home-logo img {
    margin: 0 5px; }
    .footer-home-logo img:hover {
      opacity: 0.6; }

.posted-on {
  color: #999;
  font-size: 90%; }
  .posted-on a {
    color: #999; }

#footer-full-content .widget-title {
  font-size: 20px; }

#footer-full-content ul {
  margin: 0 0 0 30px;
  padding: 0; }

#footer-full-content ul {
  margin: 0; }
  #footer-full-content ul li {
    list-style: none; }

#carouselControlsNewestPosts {
  margin: 10px 15px;
  padding: 10px;
  background: #f2f2f2;
  padding-left: 80px; }
  #carouselControlsNewestPosts:before {
    height: 0;
    width: 0;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
    border-left: 22px solid #FFA300;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 50px; }
  #carouselControlsNewestPosts:after {
    position: absolute;
    content: "New";
    width: 60px;
    height: 100%;
    background: #FFA300;
    left: 0;
    top: 0;
    padding: 10px 0 10px 15px;
    box-sizing: border-box;
    color: #fff; }

.post-navigation {
  margin: 15px 0;
  padding: 2px 30px;
  background: #e9ecef; }

.related-post {
  margin: 30px 0; }

.btn-primary {
  background: #FFA300;
  border-color: #FFA300; }
  .btn-primary:hover {
    background: #FFA300;
    border-color: #FFA300;
    opacity: 0.8;
    cursor: pointer; }

.social-icons-item .screen-reader-text {
  display: none; }

.social-icons-item i.fa {
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  border-radius: 2px; }
  .social-icons-item i.fa:hover {
    color: #fff;
    background: #FFA300; }
  .social-icons-item i.fa.fa-facebook:hover {
    background: #3B5998; }
  .social-icons-item i.fa.fa-youtube-play:hover {
    background: #DD4B39; }
  .social-icons-item i.fa.fa-google-plus:hover {
    background: #CB3429; }
  .social-icons-item i.fa.fa-linkedin:hover {
    background: #007BB6; }

.social_share_buttons {
  margin-top: 20px; }

.comments-area {
  margin-top: 20px; }

#before-footer-content .widget-title,
#wrapper-static-hero .widget-title,
#wrapper-static-our-parner .widget-title,
#wrapper-after-header .widget-title {
  text-align: center;
  margin: 50px 0 30px 0;
  font-size: 30px;
  font-weight: normal; }

#before-footer-content .widget-title {
  border-bottom: 1px solid #999;
  padding-bottom: 15px; }
